
:root {
    --primary:#0d6efd;
    --dark:#002a5b;
    --body:#888;
    --box-shadow:0 8px 22px rgba(0,0,0,0.2);
}

h1, h2, h3, h4, h4, h5, h6 {
    color: var(--dark);
    font-weight:700;
}
h2 {
    padding-top:0.5em;
}


table, th, tr, td {
  margin-top:30px;
  padding:3px;
  border:1px solid;
  border-color: #002a5b;
  text-align: center;
}
table{
  width:70%;
}
td, th {
  text-align: center;
}

input {
  margin: 3px;
  padding: 7px;
  border:1px solid;
  border-color: #808080;
  border-radius: 5px;
}
button {
  margin: 3px;
  padding: 7px;
  background-color: #f5deb3;
  border-radius: 5px;
}

.navbar-expand-lg  {
    background-color: var(--dark) !important;
}
.navbar .nav-link{
    color:#ffffff !important;
    background-color: var(--dark);
}
.nav-item {
    color:#FFFFFF;
}

.btn {
    padding:14px 18px;
}

.navbar-toggler{
    border-color: #ffffff;
  }
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

  

.footer{
    color:#ffffff !important;
    background-color: var(--dark);
    
}

.form-flex{
    display:flex;
}

main > .container {
    padding: 80px 15px 0;
  }

  html {
    position: relative;
    min-height: 100%;
    padding-bottom:60px;
  }
  body {
    margin-bottom: 60px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }

.value {
    margin-top:10px;
    text-align: center;
}
.value form{
    display:inline;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding:25px;
  padding-bottom:10px;
  transition:all 0.35s ease;
  border-radius:7px;
  display: flex;
  flex-direction: column;
}
.service a {
  color:var(--dark);
  text-decoration:none;
}


.left {
  margin-right: auto;
}
.card-footer {
  display: flex !important;
}


.card-effect:hover {
  box-shadow:none;
  transform:translateY(5px);
}

.card-footer  {
  display: block;
  margin-bottom: 10px;
  /* margin-topをautoにすることで、自動的に高さを調節してもらえる */
  margin-top: auto;
  padding: 0;
}

section {
  padding-top:15px;
  padding-bottom:15px;
}

.service  {
  position:relative;
  overflow: hidden;
}

.service::after {
  content:"";
  position:absolute;
  top:-100%;
  left:0;
  background-color: var(--primary);
  width:100%;
  height:100%;
  opacity:0;
  transition:all 0.35s ease;
  z-index:-1;
}

.service:hover h5,
.service:hover a,
.service:hover div,
.service:hover p {
  color:#fff;
}

.btn:hover {
  border-color: #fff;
}

.service:hover::after {
  opacity:1;
  top:0;
}
