:root {
    --primary:#b6cdbf;
    --dark:#e6c5cf;
    --body:#888;
    --text:#604461;
    --box-shadow:0 8px 22px rgba(0,0,0,0.2);
}

.wrapper800  {
  max-width:800px;
  margin:0 auto;
  padding:0 4%;
}
.wrapper1200  {
  max-width:1600px;
  margin:0 auto;
  padding:0 4%;
}
.wrapper375  {
  max-width:375px;
  margin:0 auto;
  padding:0 4%;
}

body  {
    background-color: #FFFFFF;
}

p   {
    margin-bottom:5px;
}

a   {
    text-decoration:none;
}

h1, h2, h3, h4, h4, h5, h6 {
    color: var(--text);
    font-weight:700;
    font-family: 'Kaisei Decol', serif;
}
h1  {
    color: #604461;
    font-size:1.5em;
}
h2 {
    font-size:1.2em;
    padding-top:0.5em;
}
h3  {
    font-size:1.2em;
}
h4  {
    font-size:1.1em;
}


table, th, tr, td {
  margin-top:20px;
  margin-bottom:20px;
  padding:3px;
  border:1px solid;
  border-color: #002a5b;
  text-align: center;
}
table{
  width:70%;
}
td, th {
  text-align: center;
  white-space: nowrap
}

input {
  margin: 3px;
  padding: 7px;
  border:1px solid;
  border-color: #808080;
  border-radius: 5px;
}
input::placeholder  {
  text-align: center;

}
textarea {
  margin: 3px;
  padding: 7px;
  border:1px solid;
  border-color: #808080;
  border-radius: 5px
}
button {
  margin: 3px;
  padding: 7px;
  background-color: #f5deb3;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;

}
select {
  margin: 3px;
  padding: 9px;
  border-radius: 5px;
  background-color: var(--dark);
  color:#ffffff;
}
.select_element:hover select{
  background-color: var(--primary);
}

select:hover{
  background-color: var(--primary);

}
.navbar-expand-lg  {
  background-color: var(--dark) !important;
}
.navbar .nav-link{
  color:var(--text) !important;
  background-color: var(--dark);
}
.nav-item {
    color:#222222;
    font-weight:700;
    font-family: 'Kaisei Decol', serif;
}

.navbar-toggler{
    border-color: #ffffff;
  }

.card-title a{
  color:#ffffff;
}

.footer{
    color:var(--text) !important;
    background-color: var(--dark);
    font-weight:500;
    font-family: 'Kaisei Decol', serif;
    
}

.flex{
    display:flex;
}

main > .container {
    padding: 80px 0px 0;
  }

  html {
    position: relative;
    min-height: 100%;
    padding-bottom:60px;
  }
  body {
    margin-bottom: 60px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }

.value {
    margin-top:10px;
    text-align: center;
}
.value form{
    display:inline;
}


.left {
  margin-right: auto;
}
.card-footer {
  display: flex !important;
}

.card-footer  {
  display: block;
  margin-bottom: 10px;
  /* margin-topをautoにすることで、自動的に高さを調節してもらえる */
  margin-top: auto;
  padding: 0;
}

section {
  padding-top:15px;
  padding-bottom:15px;
}

.button {
  font-size:1.3em;
  font-family: 'Kaisei Decol', serif;
  color:#ffffff;
  background-color: var(--primary);
  border:0;
  width:250px;
  padding:10px;
  border-radius: 8px;
  margin:7px;
  margin:0 auto;
}

.button a{
  color: #ffffff;
}
.button:hover{
  color:#ffffff;
  background-color: var(--text);
  transition: all 0.35s ease;
}
.top-button {
  margin:10px;
}
.element {
  height:130px;
  font-size:1.3em;
  font-family: 'Kaisei Decol', serif;
  color:#ffffff;
  background-color: var(--primary);
  width:250px;
  padding:10px;
  margin:10px;
  border-radius: 8px;
  margin:0 auto;
}
.element:hover  {
  color:#ffffff;
  background-color: var(--text);
  transition: all 0.35s ease;
}

.element option{
  color: #ffffff;
}
.element:hover h6{
  color:#ffffff;
  transition: all 0.35s ease;
}

.question {
  width: 300px;
  margin:auto;
  font-size:1.5em;
  font-family: 'Noto Sans JP', sans-serif;
  border:5px solid var(--dark);
  border-radius: 9px;
  margin-top:15px;
  margin-bottom:10px;
}

.question p{
  padding-top:7px;
  margin-left:19px;
  padding-bottom:10px;

}
.question h2 {
  margin-left:8px;
  font-size:1em;
}

.show_answer  {
  margin:0 auto;
  width:300px;
  position: absolute;
  bottom: 0;
  height:125px;
  left: 0;
  right: 0;
  margin: auto;
}

.correct  {
  width:308px;
  position: absolute;
  bottom: 0;
  height:125px;
  left: 0;
  right: 0;
  margin: auto;
  padding:0;
}

.currect_button{
  width: 146px;
  font-size:1.3em;
  font-family: 'Kaisei Decol', serif;
  color:#ffffff;
  background-color: var(--primary);
  border-radius: 8px;
  margin-left:4px;
  margin-right:1px;
  padding:10px 20px;
}

.currect_button:hover{
  color:#ffffff;
  background-color: var(--text);
  transition: all 0.35s ease;
}
.audio  {
  font-size:1.3em;
  font-family: 'Kaisei Decol', serif;
  color:#ffffff;
  background-color: var(--text);
  border:0;
  padding:10px;
  border-radius: 8px;
  margin:10px auto;
}
.audio-button {
  width:300px;
  position:absolute;
  bottom:0;
  height:205px;
  right: 0;
  left: 0;
  margin: auto;
}
.audio:hover  {
  color:#ffffff;
  background-color: var(--dark);
  transition: all 0.35s ease;
}

.answer {
  margin:auto;
  margin-top:20px;
  padding:10px;
  padding-left:20px;
  font-size:1.7em;
  font-family: 'Noto Serif KR', serif;
  width:300px;
  background-color: var(--dark);
  border-radius: 10px;
  word-break: keep-all;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
}



.hint {
  margin:0 auto;
  margin-top:20px;
  padding:7px;
  width:300px;
  background-color: var(--text);
  border-radius: 7px;
  font-size:1.4em;
}
.hint h3  {
  text-align: center;
  margin:10px;
  color:#ffffff;
}

.hint dt {
  font-family: 'Kaisei Decol', serif;
  color: #ffffff;
  float: left;
  margin-left:20px;
  width:5em;
  border:0 solid;
  border-color:#ffffff;

}
.hint dd {
  margin-right: 20px;
  text-align: right;
  color: #ffffff;
  font-family: 'Noto Serif KR', serif;
}

.note {
  font-size:0.6em;
  color:#ffffff;
  margin-left:7px;
  font-family: 'Noto Sans JP', sans-serif;
}

.result {
  text-align: center;
  margin:20px;
  margin-bottom:40px;
}

.result span{
  background-color: var(--text);
  color:#ffffff;
  font-family: 'Kaisei Decol', serif;
  font-size:1.5em;
  padding:20px;
  border-radius: 30px;
}
.result p {
  margin-top:30px;
  margin-bottom:30px;

}
