{% extends "base375.html" %}

{% block body %}

<h2>パスワードの変更</h2>

<form action="{{url_for('auth.edit_password_execute')}}" method="POST">
<dl class="account-info">
    <dt>現在のパスワード</dt>
        <dd>
            <input type="password" name="current_password">
        </dd>
    <dt>新しいパスワード</dt>
        <dd>
            <input type="password" name="new_password1">
        </dd>
        <dd>
            <input type="password" name="new_password2">
        </dd>
</dl>

<div class="right">
    <input type="hidden" name="name" value="{{name}}">
    <input type="hidden" name="email" value="{{email}}">
    <button class="back" type="button" onclick="history.back()">戻る</button>
    <button class="add">変更</button>
</div>

</form>


{% endblock %}