{% extends "base.html" %}

{% block body %}

<h1>レベル</h1>


{% if level.released %}
<p>以下のレベルを非公開にしますか。</p>
{% else %}
<p>以下のレベルを公開しますか。</p>
{% endif %}

<table>
    <tr>
        <th>レベル</th>
        <th>説明</th>
        <th>公開設定</th>
    </tr>
    <tr>
        <td>{{level.level}}</td>
        <td>{{level.description}}</td>
        <td>
            {% if level.released %}
            ○
            {% else %}
            ×
            {% endif %}

        </td>
    </tr>
</table>

{% if level.released %}
<a href="{{url_for('approve.change_level_execute', l=level.id)}}">非公開にする</a>
{% else %}
<a href="{{url_for('approve.change_level_execute', l=level.id)}}">公開する</a>
{% endif %}


<p><a href="{{url_for('approve.index')}}">承認トップページ</a></p>

{% endblock %}