{% extends "base.html" %}

{% block body %}

<h1>レベル</h1>

<p><a href="{{url_for('approve.index')}}">承認トップページ</a></p>

<table>
    <tr>
        <th>レベル</th>
        <th>説明</th>
        <th>公開設定</th>
    </tr>
    {% for grade in grades %}
    <tr>
        <td>{{grade.grade}}</td>
        <td>{{grade.description}}</td>
        <td>
            {% if grade.released %}
            <a href="{{url_for('approve.change_grade', l=grade.id, r=1)}}">○</a> 
            {% else %}
            <a href="{{url_for('approve.change_grade', l=grade.id, r=0)}}">×</a>
            {% endif %}

        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}