{% extends "base.html" %}

{% block body %}

<h1>問題文</h1>

<p>以下の問題を公開しますか。</p>


<table>
    <tr>
        <th>id</th>
        <th>日本語</th>
        <th>韓国語</th>
        <th>公開設定</th>
    </tr>
    {% for question in questions%}
    <tr>
        <td>{{question.id}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
        <td>
            {% if question.released %}
            ○ 
            {% else %}
            × 
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p><a href="{{url_for('approve.release_questions_execute', releases=releases, element_id=element_id)}}">公開する</a></p>


{% endblock %}