.DS_Store
.vscode
.pytest_cache
sksk_app/test_config.py
sksk_app/config.py
__pycache__/
sksk_app/google.json
sksk_app/credentials_webapp.json
sksk_app/credentials.json
sksk_app/app.ini
sksk_app/code1.py
sksk_app/token.py
sksk_app/token.json
sksk_app/static/audio
docker/.env
docker/.env.production