services:

  nginx:
    image: nginx:1.25
    container_name: sksk_ko_nginx
    ports:
      - "8081:80"
    volumes:
      - ./nginx/dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  web:
    container_name: sksk_ko_python
    build:
      dockerfile: ./app/Dockerfile
    env_file: .env.dev
    restart: always
    volumes:
      - .:/workspace
    ports:
      - "8000:8000"
    command: flask --app wsgi run --host=0.0.0.0 --port=8000 --debug

  mysql:
    container_name: sksk_ko_mysql
    build:
      context: ./mysql
      dockerfile: Dockerfile
    env_file: .env.dev
    volumes:
      - ./mysql:/mysql
    ports:
      - "23306:3306"
