[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
flask-sqlalchemy = "*"
flask-login = "*"
pytest = "*"
coverage = "*"
konlpy = "*"
mecab-python3 = "*"
numpy = "*"
google-cloud-texttospeech = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
