{% extends "base375.html" %}
{% block body %}

<h2 class="text-center">{{no}}問完了!</h2>



<div class="result">
    <h3>正答率</h3>
    <p><span>{{correct_ratio}} ％</span></p>

    <h3>正答数</h3>
    <p><span>{{no}}問中 {{correct_answer}}問正解！</span></p>
</div>


{% if not review == 2 %}
{% if not correct_ratio == 100 %}
<div class="button position-relative mb-2">
    <a class="stretched-link" href="{{url_for('question.start_review_element', guest=guest)}}">間違えた問題を復習する</a>
</div>
{% endif %}

{% if next_element %}
    <div class="button position-relative mb-2">
    <a class="stretched-link" href="{{url_for('question.show_first_question', e = next_element.id, guest=guest, review=0)}}">次の項目({{next_element.element}})に進む</a>
    </div>
{% endif %}
{% endif %}

<div class="button position-relative text-center">
    <a class="stretched-link" href="{{url_for('pg.toppage')}}">トップページに戻る</a>
    </div>

{% endblock %}