{%extends "base.html" %}
{% block body %}

<div class="login-page">

    <h2 class="login-header">新規登録</h2>

    <div class="form">
        <form action="{{url_for('auth.signup')}}" method="post" class="login-form">
            <input type="text" name="name" placeholder="ユーザー名" required class="form-control">
            <input type="text" name="email" placeholder="メールアドレス" required class="form-control">
            <input type="password" name="password" placeholder="パスワード" required class="form-control">
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>

</div>


{%endblock%}