{% extends "base.html" %}
{% block body %}

<div class="about">
<h2>いつでもどこでも<br>
    サクッと外国語学習</h2>

<!-- <h3 class="mt-5 mb-4">シンプルな文章を外国語で作文する</h3>

<p>英語を学んでもうすぐ30年、その間にドイツ語、韓国語も学びました。</p>
<p>どの言語でも、「外国語の力ががついた！」と感じられるのは、日本語の文を外国語の文に訳す時でした。</p>
<p>和文英訳、などと考えると難しく思えますが、そうではなく、単語も文の構造もシンプルなものを、どんどん作文するのです。</p>
<p>そんな学習を自動化して、気楽に学習をしたいと考えた時、この「サクッと作文」の作成を思いつきました。</p>


<h3 class="mt-5 mb-4">1項目5問ずつ　短時間でサクッと復習</h3>

<p>このアプリは、外国語学習の初心者向けではありません。</p>
<p>ある程度学習を進めている方（外国語の検定の一番下の級の受験を考えるくらい）が、各文法項目をサクッと復習できるように設計してあります。</p>
<p>1つの項目につき、問題は5問。これだけできちんと身に付くとは思いません。他にも演習が必要です。ですが、検定試験の過去問を解く前に、各文法項目を復習しておきたい、という時にお使いになれるかと思います。</p>
<p>また、長く1つの言語から離れた後、もう一度やり直す時、今まで学んだことをざっと学ぶ時にも有用です。</p>


<h3 class="mt-5 mb-4">答え合わせは面倒…だけど力がつく</h3>

<p>このアプリでは、外国語の作文をどんどん解いていくことになりますが、自動的に答え合わせができません。</p>
<p>問題文の日本語を読み、その場で答えを口に出すか、メモアプリ、ノートに書き込んで答えを出します。そしてその答えを、解答の外国語文、もしくは音声（Googleのサービスで作成した人工音声です）によって確認します。</p>
<p>他の学習アプリでは答えを選択すれば、すぐに自動的に答え合わせができ、スムーズです。ですが、それでは本当に自分で答えを出せた、とは感じられませんでした。</p>
<p>少し面倒ではありますが、自分の作文した文と解答を見比べることで、より深く文字・単語・文の構造を確認できます。</p>

<div class="mt-5">
<p>あなたの外国語学習の手助けになれましたら幸いです。</p>
</div> -->

<div class="toppage-footer">
2023年3月16日
</div>

</div>

{%endblock%}