{% extends "base.html" %}

{% block body %}

<h2>アカウント情報</h2>


<table>
    <tr>
        <th>ユーザー名</th>
        <td>{{session['user_name']}}</td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>今まで解いてきた問題数</th>
        <td>{{all_count}} 問</td>
    </tr>
    <tr>
        <th>全体の正答率</th>
        <td>{{all_ratio}}</td>
    <tr>
        <th>最近の回答が不正解だった問題数</th>
        <td>{{incorrect_count}}</td>
    </tr>

    </tr>
    {% for grade_info in grades_info %}
    <tr>
        <th>{{grade_info.grade}}の消化率</th>
        <td>{{grade_info.ratio}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}