{% extends "base.html" %}

{% block body %}

<h2>項目の選択</h2>



<select name="grade" id="grade" onchange="location.href=value">
    {% for grade in grades %}
    <option value="{{url_for('question.select_element', l=grade.id)}}">{{grade.grade}}</option>
    {% endfor %}
</select>
<br>

<select name="e_group_id" id="e_group" onchange="location.href=value">
    {% for e_group in e_groups %}
    <option value="{{url_for('question.select_element',l=grade_id,g=e_group.id)}}">{{e_group.e_group}}</option>
    {% endfor %}
</select>

{% for element in elements %}
<p><a href="{{url_for('question.show_first_question', id=element.id)}}">{{element.element}}</a></p>
{% endfor %}

<p><a href="{{url_for('pg.toppage')}}">トップページ</a></p>


<script>
    
    let selected_grade = '{{grade_position}}' - 1;
    let selected_e_group = '{{e_group_position}}' - 1;
    document.getElementById("grade").options[selected_grade].selected = true;
    document.getElementById("e_group").options[selected_e_group].selected = true;

</script>

{% endblock %}