{% extends "base.html" %}
{% block body %}

<h2>完了</h2>

<p>guest {{guest}}</p>

<p>{{no}}問中{{correct_answer}}問正解！</p>

<p>{{correct_ratio}} ％</p>

<p>review: {{review}}</p>

<p>トップページに戻る</p>

{% if not correct_ratio == 100 %}
<p><a href="{{url_for('question.start_review_element', guest=guest)}}">間違えた問題を復習する</a></p>
{% endif %}

{% if next_element %}
    <p><a href="{{url_for('question.show_first_question', e = next_element.id, guest=guest, review=0)}}">次の項目({{next_element.element}})に進む</a></p>
{% endif %}



<p><a href="{{url_for('pg.toppage')}}">トップページ</a></p>

{% endblock %}