{% extends "base.html" %}
{% block body %}

<h2>{{no}}問目</h2>

<p>guest {{guest}}</p>

<p>{{attribute.grade}}:  {{attribute.element}} ({{attribute.description}})</p>

<p>session questions: {{session['questions']}}</p>

<p>review: {{review}}

{% if review %}
【復習モード】
{% endif %}</p>
<p>{{question.japanese}}</p>

<p>ヒント</p>


{%for hint in question['hint'] %}
<p>{{hint.japanese}}</p>
{% endfor %}

<button type="button">答え合わせ</button>

<p>{{question.foreign_l}}</p>

<audio controls src="{{url_for('static', filename=audio_file)}}"></audio>

{% if guest %}
<form action="{{url_for('question.record_score_temp')}}" method="POST">
{% else %}
<form action="{{url_for('question.record_score')}}" method="POST">
{% endif %}
    <input type="hidden" name="guest" value="{{guest}}">
    <input type="hidden" name="no" value="{{no}}">
    <input type="hidden" name="review" value="{{review}}">
    <button name="correct" value="1">正解</button>
    <button name="correct" value="0">不正解</button>
</form>




<p><a href="{{url_for('pg.toppage')}}">トップページ</a></p>

{% endblock %}