name: sksk_ko
services:

  nginx:
    image: nginx:1.25
    container_name: sksk_ko_nginx
    volumes:
      - ./nginx/dev.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - web

  web:
    container_name: sksk_ko_python
    build:
      context: ..
      dockerfile: docker/python/Dockerfile
    restart: always
    volumes:
      - ../sksk_app:/app
    expose:
      - 8000

  mysql:
    container_name: sksk_ko_mysql
    build: 
      context: ./mysql
      dockerfile: Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: $MYSQL_DATABASE
      MYSQL_USER: $MYSQL_USER
      MYSQL_PASSWORD: $MYSQL_PASSWORD
      TZ: 'Asia/Tokyo'
    volumes:
      - ./mysql:/mysql
    ports:
      - "23306:3306"
