{% extends "base.html" %}

{% block body %}

<h2>パスワードの変更</h2>

<form action="{{url_for('admin.edit_password_check')}}" method="POST">
<table class="table list">
    <tr class="title">

        <th>id</th>
        <th>ユーザー名</th>
        <th>Email</th>
        <th>パスワード</th>
    </tr>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><input type="password" name="password"></td>
    </tr>
</table>
<div class="right">
<input type="hidden" name="user_id" value="{{user.id}}">
<button class="back" type="button" onclick="history.back()">戻る</button>
<button class="add">確認</button>
</div>
</form>

<div class="button text-center position-relative" style="margin:5px;">
    <a class="stretched-link" href="{{url_for('admin.show_user')}}">ユーザー編集に戻る</a>
</div>
{% endblock %}