{% extends "base.html" %}
{% block body %}

<h2>ユーザー権限管理</h2>

<p>以下のユーザーに{{ process.process }}権限を付与しますか？</p>


<table class="table list">
    <tr class="title">
        <th>id</th>
        <th>ユーザー名</th>
        <th>Email</th>
        <th>編集</th>
        <th>確認</th>
        <th>承認</th>
        <th>管理</th>
    </tr>
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
        {% if user.edit %}
        ○
        {% else %}
        ×
        {% endif %}
        </td>
        <td>
        {% if user.check %}
        ○
        {% else %}
        ×
        {% endif %}
        </td>
        <td>
        {% if user.approve %}
        ○
        {% else %}
        ×
        {% endif %}
        </td>
        <td>
        {% if user.admin %}
        ○
        {% else %}
        ×
        {% endif %}
        </td>
    </tr>
</table>

<div class="right">
    <a class="back" href="{{url_for('admin.show_user')}}">キャンセル</a>
    <a class="add" href="{{url_for('admin.add_privilege_execute', user_id=user.id, process_id=process.id)}}">付与する</a>
</div>

<div class="button text-center position-relative" style="margin:5px;">
    <a class="stretched-link" href="{{url_for('admin.show_user')}}">ユーザー編集に戻る</a>
</div>
{%endblock%}