{% extends "base.html" %}

{% block body %}

<h2>パスワードの変更</h2>

<p><a href="{{url_for('admin.show_user')}}">ユーザー編集に戻る</a></p>

<p>このユーザのパスワードを変更しますか？</p>

<form action="{{url_for('admin.edit_password_execute')}}" method="POST">
<table>
    <tr>
        <th>id</th>
        <th>ユーザー名</th>
        <th>Email</th>
        <th>パスワード</th>
    </tr>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>********</td>
    </tr>
</table>
<button>変更</button>
<input type="hidden" name="user_id" value="{{user.id}}">
<input type="hidden" name="password" value="{{password}}">
<button type="button" onclick="history.back()">戻る</button>
</form>

<p><a href="{{url_for('admin.show_user')}}">ユーザー編集に戻る</a></p>

{% endblock %}