{% extends "base.html" %}
{% block body %}

<h2>ユーザーの編集</h2>

<p>以下のユーザーを編集します。</p>


<form action="{{url_for('admin.edit_user_check')}}" method="POST">
<table>
    <tr>
        <th>id</th>
        <th>ユーザー名</th>
        <th>Email</th>
        <th>編集</th>
        <th>確認</th>
        <th>承認</th>
        <th>管理</th>
    </tr>
    <tr>
        <td>
            <input type="hidden" name="id" value="{{user.id}}">{{ user.id }}
        </td>
        <td>
            <input type="text" name="name" value="{{ user.name }}">
        </td>
        <td>
            <input type="text" name="email" value="{{ user.email }}">
        </td>
        <td>
            <select name="edit">
            {% if user.edit %}
                <option value="1" selected>○</option>
                <option value="0">×</option>
            {% else %}
                <option value="0" selected>×</option>
                <option value="1">○</option>
            {% endif %}
            </select>
        </td>
        <td>
            <select name="check">
            {% if user.check %}
                <option value="1" selected>○</option>
                <option value="0">×</option>
            {% else %}
                <option value="0" selected>×</option>
                <option value="1">○</option>
            {% endif %}
            </select>
        </td>
        <td>
            <select name="approve">
            {% if user.approve %}
                <option value="1" selected>○</option>
                <option value="0">×</option>
            {% else %}
                <option value="0" selected>×</option>
                <option value="1">○</option>
            {% endif %}
            </select>
        </td>
        <td>
            <select name="admin">
            {% if user.admin %}  
                <option value="1" selected>○</option>
                <option value="0">×</option>
            {% else %}
                <option value="0" selected>×</option>
                <option value="1">○</option>
            {% endif %}
            </select>
        </td>
    </tr>
</table>
<button>確認</button>
<button type="button" onclick="history.back()">戻る</button>
</form>

<p><a href="{{url_for('admin.show_user')}}">ユーザー編集</a></p>

{%endblock%}