{% extends "base.html" %}

{% block body %}

<h2>パスワードの変更</h2>

<p><a href="{{url_for('admin.show_user')}}">ユーザー編集に戻る</a></p>

<form action="{{url_for('admin.edit_password_check')}}" method="POST">
<table>
    <tr>
        <th>id</th>
        <th>ユーザー名</th>
        <th>Email</th>
        <th>パスワード</th>
    </tr>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><input type="password" name="password"></td>
    </tr>
</table>
<input type="hidden" name="user_id" value="{{user.id}}">
<button>確認</button>
<button type="button" onclick="history.back()">戻る</button>
</form>


<p><a href="{{url_for('admin.show_user')}}">ユーザー編集に戻る</a></p>

{% endblock %}