{% extends "base.html" %}
{% block body %}

<h2>ユーザーの編集</h2>

<p>以下の変更を保存してよろしいですか？</p>

<table class="table list">
    <tr class="title">
        <th>id</th>
        <th>ユーザー名</th>
        <th>Email</th>
        <th>編集</th>
        <th>確認</th>
        <th>承認</th>
        <th>管理</th>
    </tr>
    <tr>
        <td>{{ user_id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% if user.edit %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
        <td>
            {% if user.check  %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
        <td>
            {% if user.approve %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
        <td>
            {% if user.admin %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>

    </tr>
</table>

<form action="{{url_for('admin.edit_user_execute')}}" method="post">
    <input type="hidden" name="id" value="{{user_id}}">
    <input type="hidden" name="name" value="{{user.name}}">
    <input type="hidden" name="email" value="{{user.email}}">
    <input type="hidden" name="edit" value="{{user.edit}}">
    <input type="hidden" name="check" value="{{user.check}}">
    <input type="hidden" name="approve" value="{{user.approve}}">
    <input type="hidden" name="admin" value="{{user.admin}}">

<div class="right">
    <button class="back" type="button" onclick="history.back()">戻る</button>
    <button class="add">更新</button>
</div>
</form>

{%endblock%}