{% extends "base1200.html" %}

{% block body %}

<h2>問題文編集履歴</h2>

<div class="button text-center position-relative" style="margin:5px;">
    <a class="stretched-link" href="{{url_for('admin.index')}}">管理トップページに戻る</a>
</div>

<table class="table list">
    <tr class="title">
        <th>ユーザー</th>
        <th>問題文</th>
        <th>内容</th>
        <th>日時</th>
        <th>コメント</th>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{record.user}}</td>
        <td>{{record.question}}</td>
        <td>{{record.process}}</td>
        <td>{{record.executed_at}}</td>
        <td>{{record.message}}</td>
    </tr>
    {% endfor %}
</table>


<div class="button text-center position-relative" style="margin:5px;">
    <a class="stretched-link" href="{{url_for('admin.index')}}">管理トップページに戻る</a>
</div>

{% endblock %}