{% extends "base1200.html" %}
{% block body %}

<h2>ユーザー編集</h2>

<table class="table list">
    <tr class="title">
        <th>id</th>
        <th>ユーザー名</th>
        <th>Email</th>
        <th>パスワード</th>
        <th>編集</th>
        <th>確認</th>
        <th>承認</th>
        <th>管理</th>
        <th>操作</th>
    </tr>
    <tr>
        <form action="{{url_for('admin.add_user')}}" method="POST">
        <td>新規</td>
        <td>
            <input type="text" name="name" placeholder="ユーザー名" required>
        </td>
        <td>
            <input type="text" name="email" placeholder="メールアドレス" required>
        </td>
        <td>
            <input type="text" name="password" placeholder="パスワード" required>
        </td>
        <td>
            <select name="edit">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="check">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="approve">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="admin">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <button class="add">確認</button>
        </td>
        </form>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><a class="action" href="{{url_for('admin.edit_password', u=user.id)}}">パスワード変更</a></td>
        <td>
            {% if user.edit %}
            <a class="action" href="{{url_for('admin.delete_privilege', user_id=user.id, process_id =1)}}">○</a>
            {% else %}
            <a class="action" href="{{url_for('admin.add_privilege', user_id=user.id, process_id =1)}}">×</a>
            {% endif %}
        </td>
        <td>
            {% if user.check %}
            <a class="action" href="{{url_for('admin.delete_privilege', user_id=user.id, process_id=2)}}">○</a>
            {% else %}
            <a class="action" href="{{url_for('admin.add_privilege', user_id=user.id, process_id=2)}}">×</a>
            {% endif %}
        </td>
        <td>
            {% if user.approve %}
            <a class="action" href="{{url_for('admin.delete_privilege', user_id=user.id, process_id=3)}}">○</a>
            {% else %}
            <a class="action" href="{{url_for('admin.add_privilege', user_id=user.id, process_id=3)}}">×</a>
            {% endif %}
        </td>
        <td>
            {% if user.admin %}
            <a class="action" href="{{url_for('admin.delete_privilege', user_id=user.id, process_id=4)}}">○</a>
            {% else %}
            <a class="action" href="{{url_for('admin.add_privilege', user_id=user.id, process_id=4)}}">×</a>
            {% endif %}
        </td>
        <td>
            <div class="mb-3">
            <a class="action" href="{{url_for('admin.edit_user', id=user.id)}}">編集</a>
            </div>
            {% if user.id == session['user_id'] %}
            {% else %}
            <div>
            <a class="action" href="{{url_for('admin.delete_user', id=user.id)}}">削除</a>
            {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="button text-center position-relative" style="margin:5px;">
    <a class="stretched-link" href="{{url_for('admin.index')}}">管理画面</a>
</div>


{%endblock%}