{% extends "base1200.html" %}

{% block body %}

<h2>確認依頼の削除</h2>

<p>以下の確認依頼を削除しますか？</p>

<form action="{{url_for('req.delete_check_request_execute')}}" method="POST">
<table class="table list">
    <tr>
        <th style="background-color: #e6c5cf;">id</th>
        <td>{{request.id}}</td>
    </tr>
    <tr>
        <th style="background-color: #e6c5cf;">タイトル</th>
        <td>{{request.title}}</td>
    </tr>
    <tr>
        <th style="background-color: #e6c5cf;">詳細</th>
        <td>{{request.detail}}</td>
    </tr>
    <tr>
        <th style="background-color: #e6c5cf;">依頼日時</th>
        <td>{{request.requested_at}}</td>
    </tr>
</table>

<table class="table list">
    <tr class="title">
        <th>id</th>
        <th>級</th>
        <th>項目</th>
        <th>日本語</th>
        <th>韓国語</th>
    </tr>
    {% for question in questions %}
    <tr>
        <td>{{question.id}}</td>
        <td>{{question.grade}}</td>
        <td>{{question.element}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
    </tr>
    {% endfor %}
</table>
<input type="hidden" name="request_id" value="{{request.id}}">
<div class="right">
    <button class="back" type="button" onclick="history.back()">戻る</button>
    <button class="add">削除</button>
</div>
</form>

{% endblock %}