{% extends "base.html" %}

{% block body %}

<h2>未確認の問題</h2>

<p><a href="{{url_for('req.index')}}">依頼インデックスへ</a></p>

<form action="{{url_for('req.request_check')}}" method="POST">
タイトル<input type="text" name="title" value="問題文の確認依頼"><br>
詳細<textarea name="detail"></textarea><br>

<button>確認依頼を作成する</button>
<table>
    <tr>
        <th>id</th>
        <th>級</th>
        <th>項目</th>
        <th>日本語</th>
        <th>韓国語</th>
        <th>確認依頼<br>
        <label><input type="checkbox" id="checkAll" name="question">全て選択</label></th>
    </tr>
    {% for question in questions %}
    <tr>
        <td>{{question.id}}</td>
        <td>{{question.grade}}</td>
        <td>{{question.element}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
        <td><input type="checkbox" class="checks" name="question" value="{{question.id}}"></td>
    </tr>
    {% endfor %}
</table>
<button>確認依頼を作成する</button>
</form>

<p><a href="{{url_for('req.index')}}">依頼インデックスへ</a></p>

<script>
    //チェックボックスを全て選択、全て解除
    let checkAll = document.getElementById("checkAll");
    let el = document.getElementsByClassName("checks");

    const funcCheckAll = (bool) => {
        for (let i = 0; i < el.length; i++) {
            el[i].checked = bool;
        }
    }
    const funcCheck = () => {
        let count = 0;
        for (let i = 0; i < el.length; i++) {
            if (el[i].checked) {
                count += 1;
            }
        }
        if (el.length == count) {
            checkAll.checked = true;
        } else {
            checkAll.checked = false;
        }
    };
    checkAll.addEventListener("click",() => {
        funcCheckAll(checkAll.checked);
    }, false)

    for (let i = 0; i < el.length; i++) {
        el[i].addEventListener("click", funcCheck, false)
    }


</script>

{% endblock %}