{% extends "base.html" %}

{% block body %}

<h2>確認依頼詳細</h2>
<p><a href="{{url_for('req.index')}}">依頼インデックスへ</a></p>

<p>以下の内容でよろしいですか？</p>

{{request.id}}
{{checked_conditions}}
{{messages}}

<h3>依頼した問題文</h3>
<table>
    <tr>
        <th>id</th>
        <td>{{request.id}}</td>
    </tr>
    <tr>
        <th>タイトル</th>
        <td>{{request.title}}</td>
    </tr>
    <tr>
        <th>詳細</th>
        <td>{{request.detail}}</td>
    </tr>
    <tr>
        <th>日時</th>
        <td>{{request.requested_at}}</td>
    </tr>
</table>

<form action="{{url_for('req.question_checked_execute')}}" method="POST">
<table>
    <tr>
        <th>id</th>
        <th>級</th>
        <th>項目</th>
        <th>日本語</th>
        <th>韓国語</th>
        <th>確認</th>
    </tr>
    {% for question in questions%}
    <tr>
        <td>{{question.id}}</td>
        <input type="hidden" name="questions" value="{{question.id}}">
        <td>{{question.grade}}</td>
        <td>{{question.element}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
        <td>{{question.checked}}</td>
            {% if question.checked == '確認済み' %}
            <input type="hidden" name="checked" value="{{question.id}}">
            {% endif %}
        {% if question.message %}
        <tr><td colspan="6">コメント: {{question.message}}</td></tr>
        {% endif %}
        <input type="hidden" name="message" value="{{question.message}}">
    {% endfor %}
    
</table>
<input type="hidden" name="request_id" value="{{request.id}}">
<button>決定</button>
<button type="button" onclick="history.back()">戻る</button>
</form>


<p><a href="{{url_for('req.index')}}">依頼インデックスへ</a></p>

{% endblock %}