{% extends "base.html" %}

{% block body %}

<h2>確認依頼の再提出</h2>

<h3>確認依頼を再提出する</h3>

<form action="{{url_for('req.resubmit_check_request_check')}}" method="POST">
    タイトル<input type="text" name="title" value="問題文の確認依頼(再提出)" style="width:300px;"><br>
    詳細<textarea name="detail" style="width:400px;"></textarea><br>

<h3>再提出する確認依頼</h3>

    <table>
        <tr>
            <th>id</th>
            <td>{{request.id}}</td>
        </tr>
        <tr>
            <th>タイトル</th>
            <td>{{request.title}}</td>
        </tr>
        <tr>
            <th>詳細</th>
            <td>{{request.detail}}</td>
        </tr>
        <tr>
            <th>依頼日時</th>
            <td>{{request.requested_at}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>id</th>
            <th>級</th>
            <th>項目</th>
            <th>日本語</th>
            <th>韓国語</th>
            <th>編集</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{question.id}}</td>
            <td>{{question.grade}}</td>
            <td>{{question.element}}</td>
            <td>{{question.japanese}}</td>
            <td>{{question.foreign_l}}</td>
            <td><a href="{{url_for('edit.edit_question',q=question.id, e=question.element_id, r=request.id)}}">編集</a></td>
        </tr>
        <tr>
            <td colspan="6">{{question.message}}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="request_id" value="{{request.id}}">
    <button>確認</button>
    <button type="button" onclick="history.back()">戻る</button>
    </form>
    
{% endblock %}