{%extends "base.html" %}
{% block body %}

<h2>ヒントの追加</h2>
<p><a href="{{url_for('edit.show_hints', e=question.element)}}">問題一覧に戻る</a></p>

<p>この単語を登録、ヒントに追加しますか？</p>

<table>
    <tr>
        <th></th>
        <th>日本語</th>
        <th>韓国語</th>
    </tr>
    <tr>
        <th></th>
        <td>{{japanese_word}}</td>
        <td>{{foreign_word}}</td>
    </tr>
    <tr>
        <th>翻訳</th>
        <td>{{ko_to_ja}}</td>
        <td>{{ja_to_ko}}</td>
    </tr>
    <tr>
        <th>判定</th>
        <td>
            {% if japanese_word == ko_to_ja %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
        <td>
            {% if foreign_word == ja_to_ko %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
    </tr>
</table>
<div class="flex">
<form action="{{url_for('edit.add_word_hint_edit')}}" method="POST">
    <input type="hidden" name="question_id" value="{{question.id}}">
    <input type="hidden" name="japanese_word" value="{{japanese_word}}">
    <input type="hidden" name="foreign_word" value="{{foreign_word}}">
    <button>編集</button>
</form>
</div>

<table>
    <tr>
        <th>id</th>
        <th>日本語</th>
        <th>韓国語</th>
    </tr>
    <tr>
        <td>{{question.id}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
    </tr>
</table>

<form action="{{url_for('edit.add_word_hint_execute')}}" method="POST">
    <input type="hidden" name="question_id" value="{{question.id}}">
    <input type="hidden" name="japanese_word" value="{{japanese_word}}">
    <input type="hidden" name="foreign_word" value="{{foreign_word}}">
    <button type="button" onclick="history.back()">戻る</button>
    <button>追加</button>
</form>



<p><a href="{{url_for('edit.show_hints', e=question.element)}}">問題一覧に戻る</a></p>


{% endblock %}