{%extends "base.html" %}
{% block body %}

<h2>レベルの追加</h2>

<p>以下のレベルを追加しますか？</p>

<form action="{{url_for('edit.add_level_execute')}}" method="POST">
<table>
    <tr>
        <th>レベル</th>
        <th>説明</th>
        <th>項番</th>
    </tr>
    <tr>
        <td>{{level.level}}</td>
        <td>{{level.description}}</td>
        <td>{{level.position}}</td>
    </tr>
</table>
<input type="hidden" name="level" value="{{level.level}}">
<input type="hidden" name="description" value="{{level.description}}">
<input type="hidden" name="position" value="{{level.position}}">
<button>追加</button>
<button onclick="history.back()">戻る</button>
</form>

{% endblock %}