{%extends "base.html" %}
{% block body %}

<h2>ヒントの追加</h2>
<p><a href="{{url_for('edit.show_hints', e=question.element)}}">問題一覧に戻る</a></p>

<p>この単語を登録、ヒントに追加しますか？</p>

<table>
    <tr>
        <th>日本語</th>
        <th>韓国語</th>
    </tr>
    <tr>
        <td>{{j_word}}</td>
        <td>{{f_word}}</td>
    </tr>
</table>

<table>
    <tr>
        <th>id</th>
        <th>日本語</th>
        <th>韓国語</th>
    </tr>
    <tr>
        <td>{{question.id}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
    </tr>
</table>

<form action="{{url_for('edit.add_word_hint_execute')}}" method="POST">
    <input type="hidden" name="question_id" value="{{question.id}}">
    <input type="hidden" name="j_word" value="{{j_word}}">
    <input type="hidden" name="f_word" value="{{f_word}}">
    <button>追加</button>
</form>



<p><a href="{{url_for('edit.show_hints', e=question.element)}}">問題一覧に戻る</a></p>


{% endblock %}