{%extends "base.html" %}
{% block body %}

<h2>問題文の追加</h2>

<p>以下の問題文を追加しますか？</p>

<form action="{{url_for('edit.add_question_execute')}}" method="POST">
<table>
    <tr>
        <th>レベル</th>
        <th>項目グループ</th>
        <th>項目</th>
        <th>文体</th>
        <th>項番</th>
    </tr>
    <tr>
        <td>{{question.level}}</td>
        <td>{{question.e_group}}</td>
        <td>{{question.element}}</td>
        <td>{{question.style}}</td>
        <td>{{question.position}}</td>
    </tr>
</table>
<table>
    <tr>
        <th>入力した文</th>
        <th>翻訳</th>
    </tr>
    <tr>
        <td>{{question.japanese}}</td>
        <td></td>
    </tr>
    <tr>
        <td>{{question.foreign_l}}</td>
        <td></td>
    </tr>
</table>


    <input type="hidden" name="element" value="{{question.element_id}}">
    <input type="hidden" name="japanese1" value="{{question.japanese}}">
    <input type="hidden" name="foreign_l1" value="{{question.foreign_l}}">
    <input type="hidden" name="style" value="{{question.style_id}}">
    <input type="hidden" name="position" value="{{question.position}}">
    <button>追加</button>
    <button type="button" onclick="history.back()">戻る</button>
</form>

<a href="{{url_for('edit.show')}}">レベル・項目グループ・項目の登録</a>

{% endblock %}