{%extends "base.html" %}
{% block body %}

<h2>{{foreign_word}}</h2>

<p><a href="{{url_for('edit.show_hints', e=question.element)}}">問題一覧に戻る</a></p>

<table>
    <tr>
        <th>日本語(候補)</th>
        <th>韓国語</th>
    </tr>
    <tr>
        <td>{{translated_word}}</td>
        <td>{{foreign_word}}</td>
    </tr>
</table>

<table>
    <tr>
        <th>id</th>
        <th>日本語</th>
        <th>韓国語</th>
    </tr>
    <tr>
        <td rowspan="2">{{question.id}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
    </tr>
    <tr>
        <td>
            <div class="flex">
            {% for japanese_word in question['japanese_word'] %}
            <form action="{{url_for('edit.add_word_hint')}}" method="POST">
                <input type="hidden" name="question_id" value="{{question.id}}">
                <input type="hidden" name="japanese_word" value="{{japanese_word}}">
                <input type="hidden" name="foreign_word" value="{{foreign_word}}">
                <button>{{japanese_word}}</button>
            </form>
            {% endfor %}
            </div>
        </td>
        <td>
            <div class="flex">
            {% for foreign_word in question['foreign_word'] %}
            {% if not foreign_word == '.' %}
            <form action="{{url_for('edit.confirm_hint_f')}}" method="POST">
                <input type="hidden" name="question_id" value="{{question.id}}">
                <input type="hidden" name="foreign_word" value="{{foreign_word}}">
                <button>{{foreign_word}}</button>
            </form>
            {% else %}
            {% endif %}
            {% endfor %}
            </div>
        </td>
    </tr>
</table>


<h3>登録されているヒント</h3>

{% if hint_existed %}
<p style="color:red">登録されています。</p>
{% endif %}

<table>
    <tr>
        <th>日本語</th>
        <th>韓国語</th>
    </tr>
    {% for word in words %}
    <tr>
        {% if foreign_word == word['foreign_l'] %}
        <td style="color:red">{{word['japanese']}}</td>
        {% else %}
        <td>{{word['japanese']}}</td>
        {% endif %}
        {% if foreign_word == word['foreign_l'] %}
        <td style="color:red">{{word['foreign_l']}}</td>
        {% else %}
        <td>{{word['foreign_l']}}</td>
        {% endif %}
    </tr>
    {% endfor %}
    {% if not words[0] %}
    <tr>
        <td colspan="2">登録ヒントなし</td>
    </tr>
    {% endif %}
</table>
<p><a href="{{url_for('edit.edit_hint', q=question.id)}}">ヒントの編集</a></p>

<h3>登録されている単語</h3>
<table>
    <tr>
        <th>id</th>
        <th>日本語</th>
        <th>韓国語</th>
        <th>操作</th>
    </tr>
{% for foreign_word in foreign_words %}
<tr>
    <td>{{foreign_word['id']}}</td>
    <td>{{foreign_word['japanese']}}</td>
    <td>{{foreign_word['foreign_l']}}</td>
    <td><a href="{{url_for('edit.add_hint', q= question.id, w=foreign_word['id'])}}">追加する</a></td>
</tr>
{% endfor %}
{% if not foreign_words[0] %}
<tr>
    <td colspan="4">登録単語なし</td>
</tr>
{% endif %}
</table>


<p><a href="{{url_for('edit.show_hints', e=question.element)}}">問題一覧に戻る</a></p>


{% endblock %}