{% extends "base.html" %}
{% block body %}

<h2>ヒントの編集</h2>

<p><a href="{{url_for('edit.show_hints', e=question.element)}}">ヒントの登録に戻る</a></p>


<table>
    <tr>
        <td>id</td>
        <td>日本語</td>
        <td>韓国語</td>
    </tr>
    <tr>
        <td>{{question.id}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
    </tr>
</table>

{% if question.hint[0] %}
<table>
    <tr>
        <td>日本語</td>
        <td>韓国語</td>
        <td>削除</td>
    </tr>
    {% for hint in question.hint %}
    <tr>
        <td>{{hint.japanese}}</td>
        <td>{{hint.foreign_l}}</td>
        <td><a href="{{url_for('edit.delete_hint', q=question.id, w=hint.id)}}">削除</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<p><a href="{{url_for('edit.show_hints', e=question.element)}}">ヒントの登録に戻る</a></p>

{% endblock %}