{% extends "base.html" %}
{% block body %}

<h2>出題編集</h2>

<p><a href="{{url_for('edit.show')}}">レベル・項目グループ・項目の登録</a></p>


<div class="flex">
    <select name="l" id="level" onchange="location.href=value">
        {% for level in levels %}
        <option value="{{url_for('edit.index', l=level.id)}}">{{level.level}}</option>
        {% endfor %}
    </select> 

<form action="{{url_for('edit.show_questions')}}" method="GET">

    
    <select name="g" id="e_group">
        {% for e_group in e_groups %}
        <option value="{{e_group.id}}">{{e_group.e_group}}</option>
        {% endfor %}
    </select>
    <button>問題文の登録</button>
</div>
</form>

<script>

    let selected_level = '{{level_position}}' - 1;
    document.getElementById("level").options[selected_level].selected = true;

</script>

{%endblock%}