{%extends "base.html" %}
{% block body %}

<!-- edit_toppage -->

<p><a href="{{url_for('edit.index')}}">編集トップページ</a></p>

<h2>レベル</h2>

<table>
    <tr>
        <th>レベル</th>
        <th>説明</th>
        <th>項番</th>
        <th>編集</th>
    </tr>
    {% for grade in grades %}
    <tr>
        <td>{{grade.grade}}</td>
        <td>{{grade.description}}</td>
        <td>{{grade.position}}</td>
        <td><a href="{{url_for('edit.edit_grade', grade=grade.id)}}">編集</a>
        <a href="{{url_for('edit.delete_grade', grade=grade.id)}}">削除</a></td>
        
    </tr>
    {% endfor %}
    <tr>
        <form action="{{url_for('edit.add_grade')}}" method="post">
            <td>
            <input type="text" name="grade">
            </td>
            <td>
            <input type="text" name="description">
            </td>
            <td>
            <input type="text" name="position">
            </td>
            <td>
            <button type="submit">追加</button>
            </td>
        </form>
    </tr>
</table>

<div class="space"><a name="e_group"></a></div>

<h2>項目グループ</h2>

<select name="grade" id="grade1" onchange="location.href=value">
    {% for grade in grades %}
    <option value="{{url_for('edit.show', l=grade.id)}}#e_group">{{grade.grade}}</option>
    {% endfor %}
</select>

<table>
    <tr>
        <th>グループ名</th>
        <th>説明</th>
        <th>項番</th>
        <th>編集</th>
    </tr>
    {% for e_group in e_groups %}
    <tr>
        <td>{{e_group.e_group}}</td>
        <td>{{e_group.description}}</td>
        <td>{{e_group.position}}</td>
        <td>編集</td>
        
    </tr>
    {% endfor %}
    <tr>
        <form action="{{url_for('edit.add_e_group')}}" method="post">
            <td>
            <input type="text" name="e_group_name">
            </td>
            <td>
            <input type="text" name="description">
            </td>
            <td>
            <input type="text" name="position">
            </td>
            <td>
            <input type="hidden" name="grade" value="{{grade_id}}">
            <button type="submit">追加</button>
            </td>
        </form>
    </tr>
</table>


<div class="space"><a name="element"></a></div>

<h2>項目</h2>



<div class="flex">
<select name="grade" id="grade2" onchange="location.href=value">
    {% for grade in grades %}
    <option value="{{url_for('edit.show', l=grade.id)}}#element">{{grade.grade}}</option>
    {% endfor %}
</select>


<select name="e_group_id" id="e_group" onchange="location.href=value">
    {% for e_group in e_groups %}
    <option value="{{url_for('edit.show',l=grade_id,g=e_group.id)}}#element">{{e_group.e_group}}</option>
    {% endfor %}
</select>

</div>


<table>
    <tr>
        <th>項目</th>
        <th>説明</th>
        <th>項番</th>
        <th>編集</th>
    </tr>
    {% for element in elements %}
    <tr>
        <td>{{element.element}}</td>
        <td>{{element.description}}</td>
        <td>{{element.position}}</td>
        <td>編集</td>
        
    </tr>
    {% endfor %}
    <tr>
        <form action="{{url_for('edit.add_element')}}" method="post">
            <td>
            <input type="text" name="element_name">
            </td>
            <td>
            <input type="text" name="description">
            </td>
            <td>
            <input type="text" name="position">
            </td>
            <td>
            <input type="hidden" name="e_group_id" value="{{e_group_id}}">
            <button type="submit">追加</button>
            </td>
        </form>
    </tr>
</table>

<p><a href="{{url_for('edit.index')}}">編集トップページ</a></p>

<script>


    let selected_grade = '{{grade_position}}' - 1;
    let selected_e_group = '{{e_group_position}}' - 1;
    // console.log(selected_e_group)
    document.getElementById("grade1").options[selected_grade].selected = true;
    document.getElementById("grade2").options[selected_grade].selected = true;

    document.getElementById("e_group").options[selected_e_group].selected = true;

</script>

{%endblock%}

