{%extends "base.html" %}
{% block body %}

<!-- edit_toppage -->

<p><a href="{{url_for('edit.index')}}">編集トップページ</a></p>

<h2>レベル</h2>

<table>
    <tr>
        <th>レベル</th>
        <th>説明</th>
        <th>項番</th>
        <th>編集</th>
    </tr>
    {% for level in levels %}
    <tr>
        <td>{{level.level}}</td>
        <td>{{level.description}}</td>
        <td>{{level.position}}</td>
        <td>編集</td>
        
    </tr>
    {% endfor %}
    <tr>
        <form action="{{url_for('edit.add_level')}}" method="post">
            <td>
            <input type="text" name="level_name">
            </td>
            <td>
            <input type="text" name="level_desc">
            </td>
            <td>
            <input type="text" name="position">
            </td>
            <td>
            <button type="submit">追加</button>
            </td>
        </form>
    </tr>
</table>

<h2>項目グループ</h2>

<table>
    <tr>
        <th>レベル</th>
        <th>グループ名</th>
        <th>説明</th>
        <th>項番</th>
        <th>編集</th>
    </tr>
    {% for e_group in e_groups %}
    <tr>
        <td>{{e_group.level_name}}</td>
        <td>{{e_group.e_group}}</td>
        <td>{{e_group.description}}</td>
        <td>{{e_group.position}}</td>
        <td>編集</td>
        
    </tr>
    {% endfor %}
    <tr>
        <form action="{{url_for('edit.add_e_group')}}" method="post">
            <td>
                <select name="level">
                    {% for level in levels %}
                    <option value="{{level.id}}">{{level.level}}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
            <input type="text" name="e_group_name">
            </td>
            <td>
            <input type="text" name="description">
            </td>
            <td>
            <input type="text" name="position">
            </td>
            <td>
            <button type="submit">追加</button>
            </td>
        </form>
    </tr>
</table>


<h2>項目</h2>

<p>レベル: {{level_name}} 項目グループ: {{e_group_name}}</p>

<div class="flex">
<form action="">
    <select name="level">
        {% for level in levels %}
        <option value="{{level.id}}">{{level.level}}</option>
        {% endfor %}
    </select>
</form>

<form action="">
    <select name="e_group_id">
        {% for e_group in e_groups %}
        <option value="{{e_group.id}}">{{e_group.e_group}}</option>
        {% endfor %}
    </select>
</form>
</div>


<table>
    <tr>
        <th>グループ名</th>
        <th>項目</th>
        <th>説明</th>
        <th>項番</th>
        <th>編集</th>
    </tr>
    {% for element in elements %}
    <tr>
        <td>{{element.e_group}}</td>
        <td>{{element.element}}</td>
        <td>{{element.description}}</td>
        <td>{{element.position}}</td>
        <td>編集</td>
        
    </tr>
    {% endfor %}
    <tr>
        <form action="{{url_for('edit.add_element')}}" method="post">
            <td>
                <select name="e_group_id">
                    {% for e_group in e_groups %}
                    <option value="{{e_group.id}}">{{e_group.e_group}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
            <input type="text" name="element_name">
            </td>
            <td>
            <input type="text" name="description">
            </td>
            <td>
            <input type="text" name="position">
            </td>
            <td>
            <button type="submit">追加</button>
            </td>
        </form>
    </tr>
</table>


<p><a href="{{url_for('edit.index')}}">編集トップページ</a></p>


{%endblock%}