{% extends "base.html" %}
{% block body %}

<h2>問題文の登録</h2>


<p><a href="{{url_for('edit.show')}}">レベル・項目グループ・項目の登録</a></p>
<p><a href="{{url_for('edit.show_hints', e=element.id)}}">ヒントの登録</a></p>

<div class="flex">
    <select name="grade" id="grade" onchange="location.href=value">
        {% for grade in grades %}
        <option value="{{url_for('edit.show_questions', l=grade.id)}}">{{grade.grade}}</option>
        {% endfor %}
    </select> 
    
    <select name="e_group_id" id="e_group" onchange="location.href=value">
        {% for e_group in e_groups %}
        <option value="{{url_for('edit.show_questions',l=grade_id,g=e_group.id)}}">{{e_group.e_group}}</option>
        {% endfor %}
    </select>

    <select name="element_id" id="element" onchange="location.href=value">
        {% for element in elements %}
            <option value="{{url_for('edit.show_questions', e=element.id)}}">{{element.element}}</option>
        {% endfor %}
    </select>
</div>

<form action="{{url_for('edit.add_question')}}" method="POST">
<table>
    <tr>
        <th>id</th>
        <th>日本語</th>
        <th>外国語</th>
        <th>文体</th>
        <th>口語</th>
        <th>시다</th>
        <th>겠</th>
        <th>項番</th>
        <th>作成者</th>
        <th>編集</th>
        <th>公開</th>
        <th><label><input type="checkbox" id="checkAll" name="question">全て選択</label></th>
        <th>音声</th>
    </tr>
    {% for question in questions %}
    <tr>
        <td>{{question.id}}</td>
        <td>{{question.japanese}}</td>
        <td>{{question.foreign_l}}</td>
        <td>{{question.style}}</td>
        <td>
            {% if question.spoken %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
        <td>
            {% if question.sida %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
        <td>
            {% if question.will %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
        <td>{{question.position}}</td>
        <td>{{question.created_by}}</td>
        <td>
            <a href="{{url_for('edit.edit_question', q=question.id,e=element.id)}}">編集</a>
            <a href="{{url_for('edit.delete_question', id=question.id)}}">削除</a>
        </td>
        <td>
            {% if question.process == 8 %}
            ○
            {% else %}
            ×
            {% endif %}
        </td>
        <td>
            <form>
            <input type="checkbox" class="checks" name="question" value="{{question.id}}">
        </td>
        <td>
            {% if question.audio %}
            ○
            {% else %}
            <a href="{{url_for('edit.create_audio_file', e= element.id, q=question.id)}}">作成</a>
            {% endif %}
        </td>
    </tr>

    {% endfor %}
    <tr>
        <td>
            新規1
        </td>
        <td>
            <input type="text" name="japanese1">
        </td>
        <td>
            <input type="text" name="foreign_l1">
        </td>
        <td>
            <select name="style1">
                {% for style in styles %}
                <option value="{{style.id}}">{{style.style}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="spoken1">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="sida1">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="will1">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td colspan="4" rowspan="5">
            <input type="hidden" name="element_id" value="{{element.id}}">
            <button style="width:100px;">確認</button>

        </td>
    </tr>
    <tr>
        <td>
            新規2
        </td>
        <td>
            <input type="text" name="japanese2">
        </td>
        <td>
            <input type="text" name="foreign_l2">
        </td>
        <td>
            <select name="style2">
                {% for style in styles %}
                <option value="{{style.id}}">{{style.style}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="spoken2">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="sida2">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="will2">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            新規3
        </td>
        <td>
            <input type="text" name="japanese3">
        </td>
        <td>
            <input type="text" name="foreign_l3">
        </td>
        <td>
            <select name="style3">
                {% for style in styles %}
                <option value="{{style.id}}">{{style.style}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="spoken3">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="sida3">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="will3">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            新規4
        </td>
        <td>
            <input type="text" name="japanese4">
        </td>
        <td>
            <input type="text" name="foreign_l4">
        </td>
        <td>
            <select name="style4">
                {% for style in styles %}
                <option value="{{style.id}}">{{style.style}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="spoken4">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="sida4">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="will4">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            新規5
        </td>
        <td>
            <input type="text" name="japanese5">
        </td>
        <td>
            <input type="text" name="foreign_l5">
        </td>
        <td>
            <select name="style5">
                {% for style in styles %}
                <option value="{{style.id}}">{{style.style}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="spoken5">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="sida5">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
        <td>
            <select name="will5">
                <option value="0">×</option>
                <option value="1">○</option>
            </select>
        </td>
    </tr>
    </form>
</table>
<input type="hidden" name="element_id" value="{{element.id}}">
<button style="text-align:center" formaction="{{url_for('edit.create_audio_files')}}" formmethod="POST">まとめて音声作成</button>
</form>


<p><a href="{{url_for('edit.index')}}">編集トップページ</a></p>

<script>
    
    let selected_grade = '{{grade.position}}' - 1;
    let selected_e_group = '{{e_group.position}}' - 1;
    let selected_element = '{{element.position}}' - 1;
    document.getElementById("grade").options[selected_grade].selected = true;
    document.getElementById("e_group").options[selected_e_group].selected = true;
    document.getElementById("element").options[selected_element].selected = true;

    //チェックボックスを全て選択、全て解除
    let checkAll = document.getElementById("checkAll");
    let el = document.getElementsByClassName("checks");

    const funcCheckAll = (bool) => {
        for (let i = 0; i < el.length; i++) {
            el[i].checked = bool;
        }
    }
    const funcCheck = () => {
        let count = 0;
        for (let i = 0; i < el.length; i++) {
            if (el[i].checked) {
                count += 1;
            }
        }
        if (el.length == count) {
            checkAll.checked = true;
        } else {
            checkAll.checked = false;
        }
    };
    checkAll.addEventListener("click",() => {
        funcCheckAll(checkAll.checked);
    }, false)

    for (let i = 0; i < el.length; i++) {
        el[i].addEventListener("click", funcCheck, false)
    }


</script>
{%endblock%}