{%extends "base375.html" %}
{% block body %}


<div class="login-page">

    
    <h2 class="login-header">ログイン</h2>

    <div class="form">
        <form action="{{url_for('auth.login')}}" method="post" class="login-form">
            <input type="text" name="email" placeholder="メールアドレス" required class="form-control">
            <input type="password" name="password" placeholder="パスワード" required class="form-control">
            <input type="hidden" name="question" value="{{question}}">
            <button type="submit" class="login-button form-control">ログイン</button>
        </form>
    </div>

    <p class="mt-3">アカウントをお持ちでない方は、<a href="{{url_for('auth.signup')}}">ユーザー登録</a>にて登録後にログインしてください。</p>

</div>

{%endblock%}