name: Build

on:
  push:
    branches:
      - main

jobs:
  build_project:
    runs-on: ubuntu-latest

    steps:
      - name: リポジトリのチェックアウト
        uses: actions/checkout@v3

      - name: rsync deployments
        uses: burnett01/rsync-deployments@7.1.0
        with:
          switches: -avzr --delete
          path: ${{ secrets.VPS_LINK_SOURCE}}
          remote_path: ${{ secrets.VPS_LINK_TARGET}}
          remote_host: ${{ secrets.VPS_HOST }}
          remote_user: ${{ secrets.VPS_USERNAME }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY}}

      - name: SSH commands
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/sksk_ko
            docker compose -f compose_prod.yaml restart